/* estilos globais. Definimos aqui estilos globais para que se estendam a todos os outros componentes da aplicação. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Courier New", Courier, monospace;
}
